:root {
  font-family:"Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.3em;
  line-height: 1.5;
  margin: 0;
  --backgroundImage: url('./thankyou_scenefrommobydick.jpg');
}

body {
  box-sizing: border-box;
  margin: 0;
}

.navi {
  /* 100vw accounts for scrollbar...
  adds weird slight horizontal scroll to
  the page, which is jarring...  */
  width: calc(100% - 2em);
  padding: 1em;
  color: white;
  background-color: rgba(0, 150, 250, 1);
  -webkit-box-shadow: 0px 13px 5px -5px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 13px 5px -5px rgba(0,0,0,0.38);
  box-shadow: 0px 13px 5px -5px rgba(0,0,0,0.38);
}

ul {
  list-style-type: none;
}

.navi ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navi ul li {
  padding: 10px;
}

li > a {
  color: white;
}

li > a:hover {
  color: rgba(200, 200, 200, 1)
}

h1,
h2,
h3,
p {
  /* rem is my new best friend.
  this way of styling will be incredibly helpful */
  padding: 1rem;
}

h1,
h2,
h3 {
  line-height: 1.5;
  font-family: "Playfair Display SC";
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

.title,
.tagline {
  color: white;
  margin: 0;

}

.tagline {
  font-size: 1.8em;
  font-weight: 500;
  font-family: "Playfair Display SC", serif;
}

.chapter {
  background-color: rgba(0, 150, 250, 0.1);
  border-radius: 10px;
}

.index-container {
  height: 75vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--backgroundImage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.content-img {
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

@media only screen and (max-width: 599px) {
  /* fix for nav not being 100% on sizes less
  than 600 */
  .navi {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {

  .chapter {
    width: 75vw;
    margin: 0 auto;
    margin-top: 20px;
  }
  .content-img {
    max-width: 80%;
    float:left;
  }
}

@media only screen and (min-width: 900px) {
  .chapter {
    width: 50vw;
  }
  .content-img {
    max-width: 90%;
    float:left;
  }
}
